*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
};

body{
    background-color: white;
}

nav{
    height: 7.5rem;
    background-color: white;
    font-size: 17px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

nav ul{
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
}

nav li{
    padding: 50px 50px 50px 50px;
    text-align: center;
}

nav li a:hover{
    text-decoration: underline;
}


.logo{
    height: 7rem;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
    bottom: 60px;
}

.materialize-container{
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 100px;
}

.material-icons{
    padding: 0px 50px 0px 50px;
    position: relative;
    bottom: 75px;
}

.slider{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider img{
    width: 100%;
}


.quote{
   position: relative;
   bottom: 500px;
   text-align: center;
}

.quote h1{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: white;
    padding-bottom: 30px;
}

.quote button{
    border: 1px solid white;
    border-radius: 5px;
    height: 70px;
    width: 200px;
    background: none;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.quote button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.section2 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    position: relative;
    bottom: 100px;
}

.section2 img{
    height: 500px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 250px;
}

.buttons button{
    height: 70px;
    width: 200px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.buttons button:hover{
    background: none;
    color: white;
}

.club{
    width: 100%;
}

.john{
    display: flex;
    justify-content: center;
    height: 300px;
    position: relative;
    bottom: 100px;
}

footer{
    height: 7.5rem;
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.icons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer img{
    height: 50px;
    padding-top: 10px;
}

h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.notice{
    display: flex;
    justify-content: space-around;
}

.notice a{
    color: black;
    padding-top: 5px;
}

.notice a:hover{
    text-decoration: underline;
}

