*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
};

body{
    background-color: white;
}

nav{
    height: 7.5rem;
    background-color: white;
    font-size: 17px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

nav ul{
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
}

nav li{
    padding: 50px 50px 50px 50px;
    text-align: center;
}

nav li a:hover{
    text-decoration: underline;
}


.logo{
    height: 7rem;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
    bottom: 60px;
}

.materialize-container{
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 100px;
}

.material-icons{
    padding: 0px 50px 0px 50px;
    position: relative;
    bottom: 75px;
}


.ropa{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px;
}

.images{
    height: 400px;
    padding-left: 60px;
    padding-top: 50px;
    transition: 0.5s;
}

.images:hover{
    transform: scale(0.9);
}

.desc{
    font-size: 14px;
}

.pricing{
    font-size: 14px;
}

.descriptions{
    padding-left: 60px;
}

.addtocart{
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    background: none;
    padding: 5px;
    cursor: pointer;
}

.addtocart:hover{
    background-color: black;
    color: white;
}

footer{
    height: 7.5rem;
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.icons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer img{
    height: 50px;
    padding-top: 10px;
}

h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.notice{
    display: flex;
    justify-content: space-around;
}

.notice a{
    color: black;
    padding-top: 5px;
}

.notice a:hover{
    text-decoration: underline;
}






