*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
};

body{
    background-color: white;
}

nav{
    height: 7.5rem;
    background-color: white;
    font-size: 17px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

nav ul{
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
}

nav li{
    padding: 50px 50px 50px 50px;
    text-align: center;
}

nav li a:hover{
    text-decoration: underline;
}


.logo{
    height: 7rem;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
    bottom: 60px;
}

.materialize-container{
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 100px;
}

.material-icons{
    padding: 0px 50px 0px 50px;
    position: relative;
    bottom: 75px;
}



.ropa{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px;
}

.images{
    height: 400px;
    padding-left: 60px;
    padding-top: 50px;
    transition: 0.5s;
    cursor: pointer;
}

.images:hover{
    transform: scale(0.9);
}

.desc{
    font-size: 14px;
}

.pricing{
    font-size: 14px;
}

.descriptions{
    padding-left: 60px;
}

.addtocart{
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    background: none;
    padding: 5px;
    cursor: pointer;
}

.addtocart:hover{
    background-color: black;
    color: white;
}

.soon{
    padding-bottom: 70px;
    padding-top: 50px;
}

.soon h1{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    background: linear-gradient(#CBADFF, #FF85CA, #FF70A0, #FF8547, #FFD35C);
}

.slider2 .coming-soon{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding-bottom: 50px;
}

.slider2 .coming-soon .image{
    height: 300px;
}



footer{
    height: 7.5rem;
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.icons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer img{
    height: 50px;
    padding-top: 10px;
}

h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.notice{
    display: flex;
    justify-content: space-around;
}

.notice a{
    color: black;
    padding-top: 5px;
}

.notice a:hover{
    text-decoration: underline;
}

/* MOBILE */
@media only screen and (max-width: 767px) {
    nav{
        height: 7.5rem;
        font-size: 20px;
        width: 600px;
      
    }

.ropa{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.images{
    height: 600px;
}

.desc{
    font-size: 20px;
}

.pricing{
    font-size: 20px;
}

.descriptions{
    font-size: 20px;
}

.addtocart{
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    background: none;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    font-size: 18px;
}

.addtocart:hover{
    background-color: black;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    background: linear-gradient(#CBADFF, #FF85CA, #FF70A0, #FF8547, #FFD35C);
    width: 600px;
}

.slider2 .coming-soon{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    padding-bottom: 50px;
}

.slider2 .coming-soon .image{
    height: 400px;
}

footer{
    width: 600px;
    height: 15rem;
}

.notice{
    display: grid;
}

  }
  

  /* TABLET */
 @media only screen and (min-width: 768px) and (max-width: 1024px) {
    nav{
        height: 7.5rem;
        font-size: 20px;
        width: 825px;
    }

    .ropa{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(16, 1fr);
    }

    .images{
        height: 800px;
    }

    .desc{
        font-size: 25px;
    
    }

    .pricing{
        font-size: 25px;
    }

    .descriptions{
        font-size: 30px;
    }

    .addtocart{
        border: 1px solid black;
        border-radius: 3px;
        color: black;
        background: none;
        padding: 5px;
        cursor: pointer;
        width: 100px;
        height: 50px;
        font-size: 18px;
    }
    
    .addtocart:hover{
        background-color: black;
        color: white;
    }


    .container{
        display: flex;
        justify-content: center;
        background: linear-gradient(#CBADFF, #FF85CA, #FF70A0, #FF8547, #FFD35C);
        width: 825px;
    }

    .slider2 .coming-soon{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        padding-bottom: 50px;
    }

    .slider2 .coming-soon .image{
        height: 400px;
    }

    footer{
        width: 825px;
        height: 15rem;
    }

    .notice{
        display: grid;
    }
}